<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3 col-lg-2 sidebar-offcanvas bg-light pl-0" id="sidebar" role="navigation">
            <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
                <li class="nav-item"><a class="nav-link" [routerLink]="'add-new-book'">Add New Book</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'get-all-books'">Get all Book</a></li>
                
                
    


                <!-- <li class="nav-item"><a class="nav-link" [routerLink]="'login'">LogOut</a></li> -->
                <li><button (click)='logOut()'>LogOut</button></li>


            </ul>
        </div>
        <!--/col-->

        <div class="col main pt-5 mt-3">
            <router-outlet></router-outlet>

        </div>
        <!--/main col-->
    </div>

</div>