/* You can add global styles to this file, and also import other style files */
/* custom-styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Dark text color */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto; /* Center the content */
  }
  
  .navbar {
    background-color: #007bff; /* Navbar color */
  }
  
  .navbar-brand {
    color: #fff; /* Navbar brand text color */
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* Navbar link text color */
  }
  
  /* Add more custom styles as needed */
  