<input [(ngModel)]="title" placeholder="Enter Title " />
<button (click)="titleName()">Search</button>

<div class="tiles-container">
  <div class="tile" *ngFor="let book of books">
    <h1>{{ book.title }}</h1>
    <table>
      <tr>
        <th>Author:</th>
        <td>{{ book.author }}</td>
      </tr>
      <tr>
        <th>Genre:</th>
        <td>{{book.genre}}</td>
      </tr>
      <tr>
        <th>ISBN:</th>
        <td>{{ book.isbn }}</td>
      </tr>
      <tr>
        <th>publisher:</th>
        <td>{{ book.publisher }}</td>
      </tr>
      <tr>
        <th>Publish Date:</th>
        <td>{{ book.publishDate | date:'short' }}</td>
      </tr>
      <tr>
        <th>Copies:</th>
        <td>{{ book.copies }}</td>
      </tr>
    </table>
  </div>
</div>